.footer {
  margin-top: 170px;
}
.site-theme-light {
  color: black;
  background-color: white;
  font-weight: 500;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #0d6efd;
  border-radius: 5px;
}
.site-theme-dark {
  color: white;
  background-color: black;
  font-weight: 500;
  padding: 5px;
  border: 1px solid #0d6efd;
  border-radius: 5px;
}
.site-theme-light:hover {
  outline: 2px solid black;
}
.site-theme-dark:hover {
  outline: 2px solid white;
}
